xsd-example/src/main/resources/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://huongdanjava.com/student/" xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="student">
		<complexType>
			<sequence>
				<element name="id" type="int" minOccurs="1"></element>
				<element name="name" type="string"></element>
				<element name="address">
					<simpleType>
						<restriction base="string">
							<maxLength value="20"></maxLength>
						</restriction>
					</simpleType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>